openapi: 3.0.2
info:
  title: API for Medication Summary
  description: Search for Prescribed Medication
  license:
    name: Creative Commons Zero v1.0 Universal
    url: http://spdx.org/licenses/CC0-1.0.html
  version: 0.1.0
  contact:
    name: FHIR New Republic
    url: https://ig.opennz.org
servers:
  - url: https://hapi.fhir.org/baseR4B
    description: Canonical Based Examples
externalDocs:
  url: >-
    https://ig.opennz.org/CapabilityStatement/MedicationRequestCapabilityStatement
  description: FHIR CapabilityStatement
paths:
  /metadata:
    summary: Access to the Server's Capability Statement
    description: >-
      All FHIR Servers return a CapabilityStatement that describes what services
      they perform
    get:
      summary: Return the server's capability statement
      operationId: metadata
      responses:
        '200':
          description: the capbility statement
          content:
            application/fhir+json:
              schema:
                description: >-
                  A Capability Statement documents a set of capabilities
                  (behaviors) of a FHIR Server or Client for a particular
                  version of FHIR that may be used as a statement of actual
                  server functionality or a statement of required or desired
                  server implementation.
                properties:
                  resourceType:
                    description: This is a CapabilityStatement resource
                  id:
                    description: >-
                      The logical id of the resource, as used in the URL for the
                      resource. Once assigned, this value never changes.
                    pattern: ^[A-Za-z0-9\-\.]{1,64}$
                    type: string
                type: object
                additionalProperties: false
                required:
                  - resourceType
        default:
          description: Error, with details
          content:
            application/fhir+json:
              schema:
                description: >-
                  A collection of error, warning, or information messages that
                  result from a system action.
                properties:
                  resourceType:
                    description: This is a OperationOutcome resource
                  id:
                    description: >-
                      The logical id of the resource, as used in the URL for the
                      resource. Once assigned, this value never changes.
                    pattern: ^[A-Za-z0-9\-\.]{1,64}$
                    type: string
                type: object
                additionalProperties: false
                required:
                  - issue
                  - resourceType
      parameters:
        - name: _format
          in: query
          description: >-
            Specify alternative response formats by their MIME-types (when a
            client is unable acccess accept: header)
          allowEmptyValue: true
          style: form
          schema:
            type: string
            format: mime-type
        - name: _pretty
          in: query
          description: Ask for a pretty printed response for human convenience
          allowEmptyValue: true
          style: form
          schema:
            type: boolean
        - name: _summary
          in: query
          description: Requests the server to return a designated subset of the resource
          allowEmptyValue: true
          style: form
          schema:
            type: string
            enum:
              - 'true'
              - text
              - data
              - count
              - 'false'
        - name: _elements
          in: query
          description: >-
            Requests the server to return a collection of elements from the
            resource
          allowEmptyValue: true
          style: form
          explode: false
          schema:
            type: array
            format: string
            items:
              format: string
  /MedicationRequest:
    summary: manage the collection of resources of type MedicationRequest
    description: >-
      Access to services to manage the collection of all resources of type
      MedicationRequest
    get:
      summary: >-
        Search all resources of type MedicationRequest based on a set of
        criteria
      operationId: searchMedicationRequest
      responses:
        '200':
          description: the resource being returned
          content:
            application/fhir+json:
              schema:
                description: A container for a collection of resources.
                properties:
                  resourceType:
                    description: This is a Bundle resource
                  id:
                    description: >-
                      The logical id of the resource, as used in the URL for the
                      resource. Once assigned, this value never changes.
                    pattern: ^[A-Za-z0-9\-\.]{1,64}$
                    type: string
                type: object
                additionalProperties: false
                required:
                  - resourceType
        default:
          description: Error, with details
          content:
            application/fhir+json:
              schema:
                description: >-
                  A collection of error, warning, or information messages that
                  result from a system action.
                properties:
                  resourceType:
                    description: This is a OperationOutcome resource
                  id:
                    description: >-
                      The logical id of the resource, as used in the URL for the
                      resource. Once assigned, this value never changes.
                    pattern: ^[A-Za-z0-9\-\.]{1,64}$
                    type: string
                type: object
                additionalProperties: false
                required:
                  - issue
                  - resourceType
      parameters:
        - name: _format
          in: query
          description: >-
            Specify alternative response formats by their MIME-types (when a
            client is unable acccess accept: header)
          allowEmptyValue: true
          style: form
          schema:
            type: string
            format: mime-type
        - name: _pretty
          in: query
          description: Ask for a pretty printed response for human convenience
          allowEmptyValue: true
          style: form
          schema:
            type: boolean
        - name: _summary
          in: query
          description: Requests the server to return a designated subset of the resource
          allowEmptyValue: true
          style: form
          schema:
            type: string
            enum:
              - 'true'
              - text
              - data
              - count
              - 'false'
        - name: _elements
          in: query
          description: >-
            Requests the server to return a collection of elements from the
            resource
          allowEmptyValue: true
          style: form
          explode: false
          schema:
            type: array
            format: string
            items:
              format: string
        - name: patient
          in: query
          description: "Multiple Resources: \r\n\r\n* [AllergyIntolerance](allergyintolerance.html): Who the sensitivity is for\r\n* [CarePlan](careplan.html): Who the care plan is for\r\n* [CareTeam](careteam.html): Who care team is for\r\n* [ClinicalImpression](clinicalimpression.html): Patient or group assessed\r\n* [Composition](composition.html): Who and/or what the composition is about\r\n* [Condition](condition.html): Who has the condition?\r\n* [Consent](consent.html): Who the consent applies to\r\n* [DetectedIssue](detectedissue.html): Associated patient\r\n* [DeviceRequest](devicerequest.html): Individual the service is ordered for\r\n* [DeviceUseStatement](deviceusestatement.html): Search by subject - a patient\r\n* [DiagnosticReport](diagnosticreport.html): The subject of the report if a patient\r\n* [DocumentManifest](documentmanifest.html): The subject of the set of documents\r\n* [DocumentReference](documentreference.html): Who/what is the subject of the document\r\n* [Encounter](encounter.html): The patient or group present at the encounter\r\n* [EpisodeOfCare](episodeofcare.html): The patient who is the focus of this episode of care\r\n* [FamilyMemberHistory](familymemberhistory.html): The identity of a subject to list family member history items for\r\n* [Flag](flag.html): The identity of a subject to list flags for\r\n* [Goal](goal.html): Who this goal is intended for\r\n* [ImagingStudy](imagingstudy.html): Who the study is about\r\n* [Immunization](immunization.html): The patient for the vaccination record\r\n* [List](list.html): If all resources have the same subject\r\n* [MedicationAdministration](medicationadministration.html): The identity of a patient to list administrations  for\r\n* [MedicationDispense](medicationdispense.html): The identity of a patient to list dispenses  for\r\n* [MedicationRequest](medicationrequest.html): Returns prescriptions for a specific patient\r\n* [MedicationStatement](medicationstatement.html): Returns statements for a specific patient.\r\n* [NutritionOrder](nutritionorder.html): The identity of the person who requires the diet, formula or nutritional supplement\r\n* [Observation](observation.html): The subject that the observation is about (if patient)\r\n* [Procedure](procedure.html): Search by subject - a patient\r\n* [RiskAssessment](riskassessment.html): Who/what does assessment apply to?\r\n* [ServiceRequest](servicerequest.html): Search by subject - a patient\r\n* [SupplyDelivery](supplydelivery.html): Patient for whom the item is supplied\r\n* [VisionPrescription](visionprescription.html): The identity of a patient to list dispenses for\r\n"
          schema:
            type: string
        - name: authoredon
          in: query
          description: Return prescriptions written on this date
          schema:
            type: string
            pattern: >-
              ([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\.[0-9]+)?(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?
  /MedicationRequest/{rid}:
    summary: Read/Write/etc resource instance of type MedicationRequest
    description: >-
      Access to services to manage the state of a single resource of type
      MedicationRequest
    get:
      summary: Read the current state of the resource
      operationId: readMedicationRequest
      responses:
        '200':
          description: the resource being returned
          headers:
            ETag:
              description: Version from Resource.meta.version as a weak ETag
              schema:
                type: string
          content:
            application/fhir+json:
              schema:
                description: >-
                  An order or request for both supply of the medication and the
                  instructions for administration of the medication to a
                  patient. The resource is called "MedicationRequest" rather
                  than "MedicationPrescription" or "MedicationOrder" to
                  generalize the use across inpatient and outpatient settings,
                  including care plans, etc., and to harmonize with workflow
                  patterns.
                properties:
                  resourceType:
                    description: This is a MedicationRequest resource
                  id:
                    description: >-
                      The logical id of the resource, as used in the URL for the
                      resource. Once assigned, this value never changes.
                    pattern: ^[A-Za-z0-9\-\.]{1,64}$
                    type: string
                type: object
                additionalProperties: false
                required:
                  - subject
                  - medication
                  - resourceType
        default:
          description: Error, with details
          content:
            application/fhir+json:
              schema:
                description: >-
                  A collection of error, warning, or information messages that
                  result from a system action.
                properties:
                  resourceType:
                    description: This is a OperationOutcome resource
                  id:
                    description: >-
                      The logical id of the resource, as used in the URL for the
                      resource. Once assigned, this value never changes.
                    pattern: ^[A-Za-z0-9\-\.]{1,64}$
                    type: string
                type: object
                additionalProperties: false
                required:
                  - issue
                  - resourceType
      parameters:
        - name: rid
          in: path
          description: id of the resource (=Resource.id)
          required: true
          allowEmptyValue: false
          style: simple
          schema:
            type: string
        - name: _summary
          in: query
          description: Requests the server to return a designated subset of the resource
          allowEmptyValue: true
          style: form
          schema:
            type: string
            enum:
              - 'true'
              - text
              - data
              - count
              - 'false'
        - name: _format
          in: query
          description: >-
            Specify alternative response formats by their MIME-types (when a
            client is unable acccess accept: header)
          allowEmptyValue: true
          style: form
          schema:
            type: string
            format: mime-type
        - name: _pretty
          in: query
          description: Ask for a pretty printed response for human convenience
          allowEmptyValue: true
          style: form
          schema:
            type: boolean
        - name: _elements
          in: query
          description: >-
            Requests the server to return a collection of elements from the
            resource
          allowEmptyValue: true
          style: form
          explode: false
          schema:
            type: array
            format: string
            items:
              format: string
  /MedicationRequest/{rid}/_history/{hid}:
    summary: Read a past version of resource instance of type MedicationRequest
    description: >-
      Access a to specified previous version of a single resource of type
      MedicationRequest
    get:
      summary: Read a past state of the resource
      operationId: vreadMedicationRequest
      responses:
        '200':
          description: the resource being returned
          headers:
            ETag:
              description: >-
                Version from Resource.meta.version as a weak ETag for that
                version
              schema:
                type: string
          content:
            application/fhir+json:
              schema:
                description: >-
                  An order or request for both supply of the medication and the
                  instructions for administration of the medication to a
                  patient. The resource is called "MedicationRequest" rather
                  than "MedicationPrescription" or "MedicationOrder" to
                  generalize the use across inpatient and outpatient settings,
                  including care plans, etc., and to harmonize with workflow
                  patterns.
                properties:
                  resourceType:
                    description: This is a MedicationRequest resource
                  id:
                    description: >-
                      The logical id of the resource, as used in the URL for the
                      resource. Once assigned, this value never changes.
                    pattern: ^[A-Za-z0-9\-\.]{1,64}$
                    type: string
                type: object
                additionalProperties: false
                required:
                  - subject
                  - medication
                  - resourceType
        default:
          description: Error, with details
          content:
            application/fhir+json:
              schema:
                description: >-
                  A collection of error, warning, or information messages that
                  result from a system action.
                properties:
                  resourceType:
                    description: This is a OperationOutcome resource
                  id:
                    description: >-
                      The logical id of the resource, as used in the URL for the
                      resource. Once assigned, this value never changes.
                    pattern: ^[A-Za-z0-9\-\.]{1,64}$
                    type: string
                type: object
                additionalProperties: false
                required:
                  - issue
                  - resourceType
      parameters:
        - name: rid
          in: path
          description: id of the resource (=Resource.id)
          required: true
          allowEmptyValue: false
          style: simple
          schema:
            type: string
        - name: hid
          in: path
          description: id of the history entry (=Resource.meta.versionId)
          required: true
          allowEmptyValue: false
          style: simple
          schema:
            type: string
        - name: _summary
          in: query
          description: Requests the server to return a designated subset of the resource
          allowEmptyValue: true
          style: form
          schema:
            type: string
            enum:
              - 'true'
              - text
              - data
              - count
              - 'false'
        - name: _format
          in: query
          description: >-
            Specify alternative response formats by their MIME-types (when a
            client is unable acccess accept: header)
          allowEmptyValue: true
          style: form
          schema:
            type: string
            format: mime-type
        - name: _pretty
          in: query
          description: Ask for a pretty printed response for human convenience
          allowEmptyValue: true
          style: form
          schema:
            type: boolean
        - name: _elements
          in: query
          description: >-
            Requests the server to return a collection of elements from the
            resource
          allowEmptyValue: true
          style: form
          explode: false
          schema:
            type: array
            format: string
            items:
              format: string
  /:
    summary: System level operations
    description: System level operations
    put:
      summary: Batch or Transaction
      operationId: transaction
      requestBody:
        description: The batch or transaction
        required: true
        content:
          application/fhir+json:
            schema:
              description: A container for a collection of resources.
              properties:
                resourceType:
                  description: This is a Bundle resource
                id:
                  description: >-
                    The logical id of the resource, as used in the URL for the
                    resource. Once assigned, this value never changes.
                  pattern: ^[A-Za-z0-9\-\.]{1,64}$
                  type: string
              type: object
              additionalProperties: false
              required:
                - resourceType
      responses:
        '200':
          description: Batch or Transaction response
          content:
            application/fhir+json:
              schema:
                description: A container for a collection of resources.
                properties:
                  resourceType:
                    description: This is a Bundle resource
                  id:
                    description: >-
                      The logical id of the resource, as used in the URL for the
                      resource. Once assigned, this value never changes.
                    pattern: ^[A-Za-z0-9\-\.]{1,64}$
                    type: string
                type: object
                additionalProperties: false
                required:
                  - resourceType
        default:
          description: Error, with details
          content:
            application/fhir+json:
              schema:
                description: >-
                  A collection of error, warning, or information messages that
                  result from a system action.
                properties:
                  resourceType:
                    description: This is a OperationOutcome resource
                  id:
                    description: >-
                      The logical id of the resource, as used in the URL for the
                      resource. Once assigned, this value never changes.
                    pattern: ^[A-Za-z0-9\-\.]{1,64}$
                    type: string
                type: object
                additionalProperties: false
                required:
                  - issue
                  - resourceType
      parameters:
        - name: _format
          in: query
          description: >-
            Specify alternative response formats by their MIME-types (when a
            client is unable acccess accept: header)
          allowEmptyValue: true
          style: form
          schema:
            type: string
            format: mime-type
        - name: _pretty
          in: query
          description: Ask for a pretty printed response for human convenience
          allowEmptyValue: true
          style: form
          schema:
            type: boolean
components:
  parameters:
    rid:
      name: rid
      in: path
      description: id of the resource (=Resource.id)
      required: true
      allowEmptyValue: false
      style: simple
      schema:
        type: string
    hid:
      name: hid
      in: path
      description: id of the history entry (=Resource.meta.versionId)
      required: true
      allowEmptyValue: false
      style: simple
      schema:
        type: string
    summary:
      name: _summary
      in: query
      description: Requests the server to return a designated subset of the resource
      allowEmptyValue: true
      style: form
      schema:
        type: string
        enum:
          - 'true'
          - text
          - data
          - count
          - 'false'
    format:
      name: _format
      in: query
      description: >-
        Specify alternative response formats by their MIME-types (when a client
        is unable acccess accept: header)
      allowEmptyValue: true
      style: form
      schema:
        type: string
        format: mime-type
    pretty:
      name: _pretty
      in: query
      description: Ask for a pretty printed response for human convenience
      allowEmptyValue: true
      style: form
      schema:
        type: boolean
    elements:
      name: _elements
      in: query
      description: Requests the server to return a collection of elements from the resource
      allowEmptyValue: true
      style: form
      explode: false
      schema:
        type: array
        format: string
        items:
          format: string
    count:
      name: _count
      in: query
      description: >-
        The maximum number of search results on a page. The server is not bound
        to return the number requested, but cannot return more
      schema:
        type: number
